// fonts
$header-font: "Alegreya",
Georgia,
serif;
$body-font: "Alegreya Sans",
Helvetica,
Arial,
sans-serif;

// colors
$blue: #0089ad;
$green: #95c54e;
$off-black: #252525;
$off-white: #fafafa;
$red: #db5049;

// mobile-styling
$display-nav: 570px;
