//homepage grid desktop
.homepage-grid {
  display: grid;
  grid-template-areas:
    "header content content"
    "nav content content"
    "footer hours location";
  height: 100vh;
  width: 100vw;
  grid-template-columns: .3fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0
}

// homepage grid specific areas
.homepage-grid__hero {
  grid-area: content;
}

.homepage-grid__hours {
  display: grid;
  align-items: start;
  grid-column-gap: 5vw;
  padding: 0 0 1vw 1vw;

  h2 {
    grid-area: 1 / 1 / 2 / 3;
  }
}

.homepage-grid__location {
  grid-area: location;
}

// homepage grid mobile
@media (max-width: $display-nav) {
  .homepage-grid {
    grid-template-areas:
      "header nav"
      "content content"
      "hours hours"
      "location location"
      "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto minmax(auto, auto) 1fr minmax(auto, auto) auto;
  }

}

// main grid
.main-grid {
  display: grid;
  grid-template-areas:
    "header content"
    "nav content"
    "footer content";
  height: 100vh;
  width: 100vw;
  grid-template-columns: max-content;
  grid-template-rows: auto;
  grid-gap: 0;
}

// main grid specific areas
.main-grid__content {
  grid-area: content;
  padding: 20px;
}

// main grid mobile
@media (max-width: $display-nav) {
  .main-grid {
    grid-template-areas:
      "header nav"
      "content content"
      "content content"
      "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto minmax(auto, auto) 1fr minmax(auto, auto) auto;
  }

}

// consistent styles
header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
}
