<nav class="wrapper site-nav">
	<button id="js-nav-trigger" aria-controls="js-site-nav" aria-expanded="false" class="u-button-reset site-nav__trigger">
		<span aria-hidden="true" class="menu-icon">
			<div class="menu-icon__line"></div>
			<div class="menu-icon__line"></div>
			<div class="menu-icon__line"></div>
		</span>

	</button>
	<ul id="js-site-nav" class="u-list-reset site-nav__list" aria-hidden="false" data-visible="false">
		{# <li class="site-nav__list-item"><a href="/about" class="u-block site-nav__link">About Us</a></li> #}
		{% for nav in collections.nav %}
		<li class="site-nav__list-item {% if (page.url==nav.url) %}is-active{% endif %}"><a class="u-block site-nav__link"
			 href="{{ nav.url }}">{{
				nav.data.title }}</a></li>
		{% endfor %}
	</ul>
</nav>
