.u-block {
    display: block;
}

.u-button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: inherit;
}

.u-list-reset {
    list-style: none;
}
