<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta name="description" content="Putting unwanted books into the hands of those who want them. Always 100% free." />
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{% if title != "Home" %}{{ title }} | {% endif %}The Book Thing of Baltimore</title>
</head>

<body>
    <div class="{% if (title == 'Home') %}homepage-grid{% else %}main-grid{% endif %}">
        {% include "_header.html" %}
        {% include "_nav.html" %}
        {{ content | safe }}
        {% include "_footer.html" %}
    </div>
    <script type="text/javascript" src="/js/mobile-menu.js"></script>
    <script type="text/javascript" src="/js/accordion.js"></script>
</body>

</html>
